<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Автомобильный форум</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/ico" href="@Url.Content("~/favicon.ico")" />
</head>
<body>
    <header>
        <a href="#">
            <p>Автомобильный форум</p>
            <img src="~/favicon.ico" alt="Site Icon">
        </a>
        <nav>
            <form class="search-form">
                <input type="text" placeholder="Поиск...">
                <button type="submit">Найти</button>
            </form>
            <ul>
                <li><a href="#">Обзоры</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
        <a href="#" class="user-link">Личный кабинет</a>
    </header>

    <main>
        @RenderBody()
    </main>
    <footer>
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
        <div class="copyright">&copy; 2024 Автомобильный Форум. Все права защищены.</div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
