@model CarForum.Models.DeletedReview

@{
    ViewData["Title"] = "Восстановление отзыва";
}

<div class="review-details">
    <h3 class="details-review-header">Вы действительно хотите восстановить запись про @Model.CarBrand @Model.CarModel?</h3>
    @if (!string.IsNullOrEmpty(Model.PhotoPath))
    {
        <img class="car-image" src="@Url.Content(Model.PhotoPath)" alt="Фотография авто" />
    }
    <div class="delete-review-container">
        <form method="post" asp-action="RestoreReview" asp-controller="Review">
            <a asp-action="UserProfile" asp-controller="Account" class="return-back-from-delete-menu">Назад</a>
            <button class="delete-review-button" type="submit" asp-route-id="@Model.Id">Восстановить</button>
        </form>
    </div>
</div>