@model CarForum.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Авторизация";
}

<div class="authorization">
    <h4 class="authorization-text">Авторизация</h4>
    <form class="authorization-form" method="post" asp-action="Login" asp-controller="Account">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="email-input">
            <input class="data-input" asp-for="Email" />
            <span class="data-span" asp-validation-for="Email"></span>
        </div>
        <div class="password-input">
            <input class="data-input" asp-for="Password" />
            <span class="data-span" asp-validation-for="Password"></span>
        </div>
        <div>
            <input class="authorization-submit" type="submit" value="Войти" />
        </div>
    </form>
    <div class="signup-link">
        <p>Нет аккаунта? <a asp-action="Register" asp-controller="Account">Зарегистрируйтесь здесь</a>.</p>
    </div>
</div>