@model CarForum.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Сброс пароля";
}

<div class="change-password-view">
    <form method="post" asp-action="ResetPassword" asp-controller="Account" class="change-password-form">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="change-password-form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="change-password-input" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="change-password-form-group">
            <label asp-for="OldPassword"></label>
            <input asp-for="OldPassword" class="change-password-input" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>

        <div class="change-password-form-group">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" class="change-password-input" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="change-password-form-group">
            <label asp-for="ConfirmNewPassword"></label>
            <input asp-for="ConfirmNewPassword" class="change-password-input" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="change-password-submit">Сменить пароль</button>
    </form>
</div>